@using Mission11_Hansen.Infrastructure
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Book

<div class="card col-lg-4 align-content-center" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Author</h6>
        <h6 class="card-text">Publisher: @Model.Publisher</h6>
        <h6 class="card-text">ISBN: @Model.ISBN</h6>
        <h6 class="card-text">Classification: @Model.Classification</h6>
        <h6 class="card-text">Category: @Model.Category</h6>
        <h6 class="card-text">Number of Pages: @Model.PageCount</h6>
        <h6 class="card-text">Price: $@Model.Price</h6>
    </div>

    <form id=@Model.BookId method="post" asp-page="/Cart">
        <input type="hidden" asp-for="BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <button type="submit" class="btn-outline-success btn-sm float-end">Add to Cart</button>
    </form>
</div>